bin/*
OBJ/*
.vs/*
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/*
Release/*
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.cache
/BreeceWorks.TwilioCoreWebApi/obj/Debug/net6.0/BreeceWorks.TwilioCoreWebApi.csproj.AssemblyReference.cache
/BreeceWorks.TwilioCoreWebApi/obj/Debug/net6.0/BreeceWorks.TwilioCoreWebApi.dll
/BreeceWorks.TwilioCoreWebApi/obj/Debug/net6.0/BreeceWorks.TwilioCoreWebApi.pdb
/BreeceWorks.TwilioCoreWebApi/obj/Debug/net6.0/refint/BreeceWorks.TwilioCoreWebApi.dll
/BreeceWorks.TwilioCoreWebApi/obj/Debug/net6.0/ref/BreeceWorks.TwilioCoreWebApi.dll
/BreeceWorks.TwilioCoreWebApi/bin/Debug/net6.0/appsettings.json
/BreeceWorks.TwilioCoreWebApi/bin/Debug/net6.0/BreeceWorks.TwilioCoreWebApi.dll
/BreeceWorks.TwilioCoreWebApi/bin/Debug/net6.0/BreeceWorks.TwilioCoreWebApi.pdb
/BreeceWorks.TwilioSignalRApp/bin/Debug/net6.0/appsettings.json
/BreeceWorks.TwilioSignalRApp/bin/Debug/net6.0/BreeceWorks.TwilioSignalRApp.dll
/BreeceWorks.TwilioSignalRApp/bin/Debug/net6.0/BreeceWorks.TwilioSignalRApp.pdb
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/ref/BreeceWorks.TwilioSignalRApp.dll
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/refint/BreeceWorks.TwilioSignalRApp.dll
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/BreeceWorks.TwilioSignalRApp.csproj.CoreCompileInputs.cache
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/BreeceWorks.TwilioSignalRApp.dll
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/BreeceWorks.TwilioSignalRApp.GeneratedMSBuildEditorConfig.editorconfig
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/BreeceWorks.TwilioSignalRApp.pdb
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/project.razor.vs.json
/BreeceWorks.TwilioCoreWebApi/bin/Debug/net6.0/appsettings.json
/BreeceWorks.TwilioCoreWebApi/bin/Debug/net6.0/appsettings.json
/BreeceWorks.TwilioCoreWebApi/bin/Debug/net6.0/BreeceWorks.TwilioCoreWebApi.dll
/BreeceWorks.TwilioCoreWebApi/bin/Debug/net6.0/BreeceWorks.TwilioCoreWebApi.pdb
/BreeceWorks.TwilioCoreWebApi/obj/Debug/net6.0/ref/BreeceWorks.TwilioCoreWebApi.dll
/BreeceWorks.TwilioCoreWebApi/obj/Debug/net6.0/refint/BreeceWorks.TwilioCoreWebApi.dll
/BreeceWorks.TwilioCoreWebApi/obj/Debug/net6.0/BreeceWorks.TwilioCoreWebApi.dll
/BreeceWorks.TwilioCoreWebApi/obj/Debug/net6.0/BreeceWorks.TwilioCoreWebApi.pdb
/BreeceWorks.TwilioSignalRApp/bin/Debug/net6.0/BreeceWorks.TwilioSignalRApp.dll
/BreeceWorks.TwilioSignalRApp/bin/Debug/net6.0/BreeceWorks.TwilioSignalRApp.pdb
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/ref/BreeceWorks.TwilioSignalRApp.dll
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/refint/BreeceWorks.TwilioSignalRApp.dll
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/BreeceWorks.TwilioSignalRApp.csproj.CoreCompileInputs.cache
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/BreeceWorks.TwilioSignalRApp.dll
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/BreeceWorks.TwilioSignalRApp.GeneratedMSBuildEditorConfig.editorconfig
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/BreeceWorks.TwilioSignalRApp.pdb
/BreeceWorks.TwilioSignalRApp/obj/Debug/net6.0/project.razor.vs.json
