bin/*
OBJ/*
.vs/*
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/*
Release/*
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
*.cache
/BreeceWorks.TwilioCoreWebApi/obj/Debug/net6.0/BreeceWorks.TwilioCoreWebApi.csproj.AssemblyReference.cache
